Django==6.0.4
djangorestframework
django-cors-headers
psycopg2-binary
djangorestframework-simplejwt
channels==4.0.0
daphne==4.0.0
channels-redis==4.1.0
celery==5.3.4
redis==5.0.0
python-decouple==3.8
pywebpush==1.14.0
python-dateutil==2.8.2
